<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div><br>
<form  #frmLogin="ngForm" action="" method="post"
(ngSubmit)="loginDb()">
  <div style="margin-left: 25%;">
    <p>
      <input type="text" class="text" name="userName" [(ngModel)]="customer.userName" placeholder="INPUT YOUR USER NAME">
    </p>
    <p>
      <input type="password" class="text" name="password" [(ngModel)]="customer.password" placeholder="INPUT YOUR PASSWORD">
    </p>
    <p>
      <button class="button">LOG-IN</button>&nbsp;&nbsp;&nbsp;
      <button class="button2" (click)="btnClick()">REGISTER</button>&nbsp;&nbsp;&nbsp;
      <button class="button3">CANCEL</button>&nbsp;&nbsp;&nbsp;
    </p>
  </div>
</form>
<router-outlet></router-outlet>
